*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: rgb(194, 164, 194);
    /* gap: 10px */
    height: 100vh;
}
.calc{
    padding: 15px;
    border: 4px double white;
    border-radius: 15px;
    background-color: rgb(137, 97, 178);
    box-shadow: 5px 1px 10px black;
}
.calc h2{
    text-align: center;
    transition: 1.8s;
}
.calc h2:hover{
    font-size: 2rem;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: 3px 1px 5px greenyellow;
}
.btn{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.btn button{
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 3px 1px 5px rgb(12, 11, 11);
    font-size: 1.3rem;
    font-weight: bold;
}
.ele{
    padding: 7px;
    display: flex;
    justify-content: center;
    gap:10px;
}
.ele input{
    text-align: center;
    background-color: beige;
    border: 1px solid;
    width: 100px;
    height: 20px;
    border-bottom: 1px solid gray;
    border-radius: 15px;
}
.resp{
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    color: blue;
    text-shadow: 3px 1px 5px gray;
}